{% extends "base.html" %}

{% block body %}
        
     <div class="jumbotron">

      <div class="container">
        <h1>Marvel Cinematic Universe</h1>
        <p>This universe is an American media franchise and shared universe that is centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in American comic books published by Marvel Comics</p>
        <p>The shared universe, much like the original Marvel Universe in comic books, was established by crossing over common plot elements, settings, cast, and characters. </p>
       </div>

     </div>

    <div class="container marketing">
 
     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">Movies:</h2>
         <p class="lead"> The Marvel Cinematic Universe is divided into four stages.The first film released in the MCU was Iron Man (2008), which began the first phase of films.The films are currently in Phase Three, which began with the release of Captain America: Civil War (2016). <br>
          <h4><span class="text-muted"><a href="/movies">View More Details</a></span></h4>
          </p>
        </div>
       <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="../../static/image/movie.jpg" alt="Generic placeholder image">
       </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7 col-md-push-5">
         <h2 class="featurette-heading">Characters:</h2>
         <p class="lead">There are some famous heros like Iron Man, Spiderman, Captain American, Hulk, Thor, Black Widow,Vision...And also some Bad Guys like Loki, Thanos,Ronan...</p>
          <h3><span class="text-muted"><a href="/characters">View More Details</a></span></h3>
       </div>
       <div class="col-md-5 col-md-pull-7">
         <img class="featurette-image img-responsive center-block" src="../../static/image/hero.jpg" alt="Generic placeholder image">
       </div>
     </div>
     <hr class="featurette-divider"> 
    </div>

{% endblock %}
   

